@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");
@import "reset.css";

@import "screens/login.css";
@import "screens/background.css";
@import "screens/leftScreen.css";
@import "screens/rightScreen.css";
@import "screens/toDoList.css";
@import "screens/illust.css";
@import "screens/music.css";
@import "screens/minWidth.css";

body {
  font-family: "Dongle", sans-serif;
  font-size: 30px;
}

.constructor {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;

  animation: smoothView 0.8s linear;
}

@keyframes smoothView {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

input {
  border: none;
}
