@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import "reset.css";

@import "screens/login.css";
@import "screens/background.css";
@import "screens/user.css";

body {
  color: white;
  font-family: 'Dongle', sans-serif;
  font-size: 24px;
}





