.illust__img-box {
  /* display: flex;
  justify-content: space-between; */
  height: 80%;
  text-align: center;

  position: relative;
}

.illust__img {
  width: 70%;
  height: 95%;
  border-radius: 1rem;
}

.illust__prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 95%;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  position: absolute;
  left: 15%;

  z-index: 10;
}

.illust__next-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 95%;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  position: absolute;
  top: 0px;
  right: 15%;

  z-index: 10;
}

.illust__prev-btn:hover,
.illust__next-btn:hover {
  opacity: 0.5;
  background-color: aliceblue;
}
