.music{
    position: relative;
}

.music__img {
    display: flex;
    justify-content: center;
}

.music__img img{
    width: 80%;
    height: auto;
    border-radius: 50%;
    
    margin-bottom: 1rem;
}

.music__column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music__btn i:nth-child(2){
    margin: 0 1rem;
}

.music__btn i:active{
    color: red;
}

.music__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

.music__info .music__animation{
    position: absolute;
    bottom: 3.5rem;
}

.music__info .music__title{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1.5rem;

    position: absolute;
    bottom: 1rem;
}