.content-screens {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
}

.todo-list {
  width: 45%;
  max-width: 500px;
  min-width: 350px;
  height: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  border-radius: 3rem;
  border: rgba(16, 210, 235, 0.6) 2px solid;
  background-color: rgba(255, 255, 255, 0.6);
}

.music {
  width: 45%;
  max-width: 500px;
  min-width: 350px;
  height: 100%;

  box-sizing: border-box;

  border-radius: 3rem;
  border: rgba(16, 210, 235, 0.6) 2px solid;
  background-color: rgba(255, 255, 255, 0.6);
}

.illust {
  display: flex;
  flex-direction: column;

  width: 95%;
  max-width: 1165px;
  min-width: 720px;
  height: 50%;

  margin: 1rem 0rem 0rem 0rem;

  box-sizing: border-box;

  border-radius: 3rem;
  border: rgba(16, 210, 235, 0.6) 2px solid;
  background-color: rgba(255, 255, 255, 0.6);
}

.content-screens__title {
  display: block;
  margin: 1rem 0rem 0.5rem 1rem;
  font-size: 2.5rem;
}
