.content-screens{
    width: 40%;
    height: 80%;

    display: flex;
    flex-wrap:wrap;
}


.todo-list{
    width: 35%;
    height: 45%;
    
    margin: 0rem 1.5rem 0rem 3rem;

    border-radius: 3rem;
    border: rgba(16, 210, 235, 0.6) 2px solid;
    background-color: rgba(255, 255, 255, 0.6);
}


.music{
    width: 35%;
    height: 45%;
    
    margin: 0rem 3rem 0rem 1.5rem;

    border-radius: 3rem;
    border: rgba(16, 210, 235, 0.6) 2px solid;
    background-color: rgba(255, 255, 255, 0.6);
}

.illust{
    width: 78%;
    height: 45%;
    
    margin: 4rem 3rem 0rem 3rem;

    border-radius: 3rem;
    border: rgba(16, 210, 235, 0.6) 2px solid;
    background-color: rgba(255, 255, 255, 0.6);
}

.content-screens__title{
    display: block;
    margin: 1rem 0rem 1rem 1rem;
    font-size: 2.5rem;
}