.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
}

.todo-list li span {
  font-size: 2rem;
  margin-bottom: 0.6rem;

  word-break: break-all;
}

.todo-list li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  margin: 0rem 0rem 0.5rem 0.5rem;
  font-size: 0.5rem;
}

.todo-list .add_animation {
  animation: addToDoList 1s ease-in-out;
}

@keyframes addToDoList {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
